/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #8e44ad, #3498db);
    color: #333;
    padding-bottom: 2rem;
  }

  /* navbar */

  .nav-container{
    padding: 1.2rem;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #297fb9;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.231);
    /* left: 0; */

  }
  .nav-container nav ul{
    
    padding: 1rem;

  }
  .nav-container nav ul li a{
    text-decoration: none;
    padding: 0.6rem;
    color: white;
    font-size: 1.5rem;
  }
  .nav-container nav ul li{
    display: inline-block;

    list-style: none;
    margin: 0 1rem;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
  }
  
  #job-form {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    width: 100%;
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
  }
  
  button {
    font-size: 1.1rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  button:active {
    transform: scale(0.97);
  }
  
  #jobType {
    padding: 6px;
    border-radius: 10px;
    /* background: #d4dfe3; */
    font-size: 15px;
    
    border: none;
  }
  
  @media (max-width: 500px) {
    #job-form {
      padding: 2rem;
    }
  }
  